[submodule "archCraft/i3"]
	path = archCraft/i3
	url = https://github.com/aruncs31s/archcraft_i3wm_config
[submodule "archCraft/nvim"]
	path = archCraft/nvim
	url = https://github.com/AstroNvim/AstroNvim
[submodule "archCraft/nvim/lua/user"]
	path = archCraft/nvim/lua/user
	url = https://github.com/aruncs31s/astronvim_config
