size=8
label=
history-length=7
use-url=true
use-email=true
use-dir=true
use-wordexp=true
use-bang=false
use-backslash=false
use-smartbookmark=false
use-shell=true
smartbookmark-url=
foreground-color=
background-color=
base-color=

