[General]
Show_Labels=false
Lines_Size=1
Preferred_Height=407
Number_Chips=6

[Chip0]
Name=coretemp-0
Number=0

[Chip1]
Name=pch_skylake-0
Number=1

[Chip2]
Name=BAT1-0
Number=2

[Chip2_Feature1]
Address=1
Name=curr1
Color=#00B000
Show=true
Min=0
Max=100

[Chip3]
Name=nvme-300
Number=3

[Chip4]
Name=acpitz-0
Number=4

[Chip5]
Name=ACPI
Number=5

