[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/mpv.desktop]
row=5
col=13

[/home/aruncs/Desktop/Music]
row=3
col=1

[/home/aruncs/Desktop/ytmusic.desktop]
row=4
col=13

[/home/aruncs/Desktop/Ncmpcpp.desktop]
row=2
col=13

[/home/aruncs/Desktop/Ranger.desktop]
row=0
col=13

[/home/aruncs/Desktop/ytfzf.desktop]
row=3
col=13

[/home/aruncs/Desktop/Tmux.desktop]
row=1
col=13

[/home/aruncs/Desktop/mutt.desktop]
row=5
col=16

[C4E29307E292FCBC]
row=1
col=1

[7DF3-B664]
row=3
col=0

[34DD-036F]
row=4
col=0

[3d7047d7-f4aa-41f9-8de4-682997e3dc75]
row=6
col=0

[719a8d6f-25b9-4287-bab9-9ced78d9471c]
row=5
col=0

[279c79ac-0ab4-4ad2-97b0-6aa8d8f598d5]
row=2
col=1

[2e7f2331-1334-4a59-9d28-1f04f7de7ccd]
row=0
col=1

[Trash]
row=0
col=0

[/home/aruncs]
row=2
col=0

