
.tw-root--theme-dark body
{
  background-color: #0d0021 !important;
  color: #f9e8ff !important;
}
/*Light Mode Body*/
.tw-root--theme-light body
{
  background-color: #0d0021 !important;
  color: #f9e8ff !important;
}

/*Dark & Light*/
/*Tags*/
.tw-tag
{
  background-color: #290038 !important;
  color: #f9e8ff  !important;
}

.tw-tag:hover
{
  /*On hover*/
  background-color: #45005e !important;
  color:  #f9e8ff  !important;
}
/*Button Color Covers 'Login', and Magnifyer button*/
.fSetzA
{
  background-color: #7a00ff !important;
}

.fSetzA:hover
{
  background-color: #6800d9 !important;
}
/*Input window*/
.tw-input
{
  border-color: #8c00f9 !important;
  background-color: #120355 !important;
  color:  #f9e8ff !important;
}

.tw-input:hover
{
  border-color: #a835ff !important;
}

.tw-input:focused
{
  border-color: #982bea !important;
}

/*Prime Subscription and Loot Reminder*/
.extensions-popover-view-layout
{
  background-color: #0c0026 !important;
}

/*Free Loot button when hovering over stream player*/
.dropdown-button--free-stuff:hover
{
  background: #0c0026 !important;
}

/*Overlay on friend's and channels banner*/
.fWolaB {
  background: none !important;
}

/*Channel pop-up card banner overlay*/
.lPyMr {
  background: none !important;
}

/*Brand icon inner (line 176 for outer colors)*/
.eToGCf {
  fill: #0c0026 !important;;
}

/*Overlay on paused player*/
.player-overlay-background--darkness-5 {
  background: none !important;
}

/* NEW BETTER TWITCH TV EXTENSION'S EMOTE-MENU */
.bttv-rs-popover-full .bttv-rs-popover-content
{
  /*Background-color for emotes*/
  background-color: #0e0121 !important;
}

.bttv-emotes-module__header-UloL0
{
  /*'Frequently used' and '[Channel-name] Channel' headers*/
  background-color: #240045 !important;
}

.bttv-sidebar-module__sidebar-D8CvQ
{
  /*Left sidebar*/
  background-color: #0e0121 !important;
}

.bttv-sidebar-module__active-EqStd
{
  /*Left sidebar active module*/
  background-color: #41027c !important;
}

.bttv-rs-input-group.bttv-rs-input-group-inside .bttv-rs-input
{
  /*Input window*/
  background-color: #120355 !important;
}

.bttv-emotes-module__headerText-MJbMy
{
  /*Header text*/
  color: #f9e8ff  !important;
}

.bttv-preview-module__preview-_Xc7L
{
  /*Preview text*/
  color: #f9e8ff  !important;
}

svg:not(:root).svg-inline--fa
{
  /*Icon colors*/
  color: #f9e8ff  !important;
}

.bttv-Tip-module__tip-__MRM
{
  /*Protip module*/
  background-color: #710dd0 !important;
  color: #f9e8ff  !important;
}

.bttv-rs-btn-link
{
  color: #f9e8ff  !important;
}

.bttv-rs-nav-subtle.bttv-rs-nav-vertical, .bttv-rs-nav-waterline
{
  /*Scroll color*/
  background: #19015e !important;
}

.bttv-rs-btn-subtle:hover
{
  /*Close button on hover*/
  background: #6800fd !important;
}

.bttv-Emotes-module__header-WC6mL
{
  background-color: #19015e !important;
}

.bttv-EmoteMenuPopover-module__popover-iDPef
{
  color:  #f9e8ff  !important;
}

.bttv-Sidebar-module__active-_pCj_
{
  color: #19015e !important;
}

.bttv-Sidebar-module__active-_pCj_
{
  background-color: #3e01f3 !important;
}

/* BETTER TWITCH TV EXTENSION'S EXTRA EMOTE BUTTON REPLACER */
#emote-menu-button {
  background-image: url(https://i.imgur.com/HaDlCS9.png) !important;
  filter: none !important;
} .bttv-legacy-button-module__button-i_OhF {
    background-image: url(https://i.imgur.com/HaDlCS9.png) !important;
    filter: none !important;
  } .bttv-LegacyButton-module__button-Pt28_ {
      background-image: url(https://i.imgur.com/HaDlCS9.png) !important;
      filter: none !important;
    }

/* 7TV */
/*7tv Menu*/
/*7tv icon background*/
.css-apoynj-MuiFormHelperText-root {
  color: #f9e8ff  !important;
}
/*7tv main background*/
.seventv-settings-menu.seventv-sm-backdrop-blur {
  background-color: #100031bf !important;
}
/*7tv Left sidebar*/
.seventv-settings-menu .seventv-sm-sidebar {
  background-color: #0c0026 !important;
}
/*7tv top header*/
.seventv-settings-menu .seventv-sm-content .seventv-sm-heading {
  background-color: #0c004d !important;
}
/*7tv close button*/
.css-7qgdbp-MuiSvgIcon-root {
  color: #f9e8ff !important;
}


/*---------------------------------------------------------------------------*/
/*Dark Mode*/
.tw-root--theme-dark {
  /*Top Header/Nav-bar*/
  --color-background-base: #0c0026 !important;
  /*Left-Expandable-sidebar*/
  --color-background-alt: #0c0026 !important;
  /*Base Text (Covers things such as: 'Carousel Nav-Arrow colow, Log in text, Magnifyer icon,
  'More' button, Prime Loot icon, 'Expand' icon on left side-bar, Top-right profile icon,
  Dropdown-menu where 'Language', 'Dark Theme',   'Cookie Preferences', and 'Log In' is located*/
  --color-text-base: #f9e8ff ;
  /*Alternative text (Covers things such as: Streaming Titles, Left-Sidebar channel names and viewer count*/
  --color-text-alt: #f9e8ff;
  /*Second Alternative text (Covers things such as: Channel Names and Current game on Channel cards found on the mainpage, Current games on Left-sidebar, Viewer count on Streaming Category Cards on mainpage*/
  --color-text-alt-2: #af02ff;
  /*Primary Button text Covers for example: 'Sign Up' button*/
  --color-text-button-primary: #f9e8ff ;
  /*Button text color covers for exambple 'Show more [Down Arrow]' on the frontpage'*/
  --color-text-button-text: #f9e8ff ;
  /*Input Window Background*/
  --color-background-input: #120355;
  /*Input Window Background on-focus*/
  --color-background-input-focus: #17046b;
  /*Color Background Overlay Covers things such as: Viewer count background color on stream cards on front-page, and Carousel shadow on previous and up-next channel*/
  --color-background-overlay: #2c006652;
  /*Primary Button background Covers things such as: 'Sign Up'*/
  --color-background-button-primary-default: #7a00ff !important;
  --color-background-button-primary-hover: #6800d9 !important; /*On hover*/
  /*Button background Covers things such as: 'Profile', 'More', 'Prime Loot', 'Show More [Down Arrow]', Navigation-arrows for carousel*/
  --color-background-button-text-default: #7a00ff00 !important;
  --color-background-button-text-hover: #6200d92b !important; /*On hover*/
  --color-background-button-text-active: #6200d945 !important; /*On click*/
  /*Accent Background covers things such as: 'Join the Twitch Community! bottom banner' if logged out, and 'Games', 'IRL', 'MUSIC', 'Esports' Cards on frontpage*/
  --color-background-accent: #7a00ff;
  --color-background-accent-alt: #6300f9;
  --color-background-accent-alt-2: #470f9b;
  /*Button overlay on player*/
  --color-text-button-overlay: #f9e8ff;
  --color-text-button-overlay-hover: #f9e8ff;  /*On hover*/
  --color-text-button-overlay-focus: #f9e8ff;
  --color-text-button-overlay-active: #f9e8ff;  /*On click*/
  /*Overlay text covers things such as: 'Games', 'IRL', 'Music', 'Esports', Play button in the middle of the player, Viewer count on stream cards, 'LIVE' text*/
  --color-text-overlay:  #f9e8ff!important;
  /*LIVE background*/
  --color-fill-live: #7a00ff !important;
  /*Link text covers things such as Channel name and current game on Carousel channel card*/
  --color-text-link: #a200ff;
  --color-text-link-hover: #70f; /*On hover*/
  --color-text-link-active: #4b00a0; /*On click*/
  --color-text-link-focus:  #f9e8ff;
  --color-text-link-visited: #f9e8ff;
  /*Button overlay background covers things such as 'Sign Up' button ontop of the 'Join the twitch community!' banner*/
  --color-background-button-overlay-primary-default: #f9e8ff;
  --color-background-button-overlay-primary-hover: #f9e8ff;
  --color-background-button-overlay-primary-active:  #f9e8ff;
  --color-text-button-overlay-primary: #90f !important; /*Text for previous button code*/
  /*Input window's border (Does the exact thing as in '.tw-input' on line 44*/
  /*--color-border-input: (--color-opac-w-4) !important;
  --color-opac-w-4: #8c00f9 !important; */
  --color-border-input-focus: #f9e8ff  !important;
  /*Input text*/
  --color-text-input:#f9e8ff!important;
  /*Input text placeholder*/
  --color-text-input-placeholder:  #f9e8ff  !important;
  /*Toggle button border when checked*/
  --color-border-toggle-checked:  #f9e8ff  !important;
  /*Toggle button background when checked*/
  --color-background-toggle-checked: #3600c4 !important;
  /*Toggle button border*/
  --color-border-toggle:#f9e8ff  !important;
  /* --color-opac-b-10: #02fffe !important; */
  /*Toggle button background when unchecked*/
  --color-background-toggle: #3600c4 !important;
  /*Toggle button dot when checked*/
  --color-background-toggle-handle-checked:#f9e8ff !important;
  /*Body Background (Visit a channel to see what it does)*/
  --color-background-body: #0e0121 !important;
  /*Base border color covers things such as border around chat and leaderboard above chat*/
  --color-border-base: #02fffe2b !important;
  /*Emote pop-up window right sidebar*/
  --color-background-alt-2: #0c0026 !important;
  /*Live viewercount text */
  --color-text-live: #f08 !important;
  --color-text-accessible-red: #f08 !important;
  /*'Friends' and 'Followed' buttons for friends and channels*/
  --color-background-button-status: #f9e8ff!important;
  /*Brand icon outer (line 84 for inner colors)*/
  --color-fill-brand: #f9e8ff  !important;
}

/*Dark Crousel Channel-Info Card*/
.tw-root--theme-dark .carousel-metadata
{
  background: #0c0026 !important;
}

/*Fadeout ontop of Channel-Info Card*/
.tw-root--theme-dark .carousel-metadata--fadeout
{
  background: none !important;
}

/*Dark Carousel Navigation Arrows*/
.tw-root--theme-dark .carousel-player-nav-arrow__container
{
  background-color: #6f00d9 !important;
}

/*Dark Navigation links Covers for example: 'Browse' located on top header*/
.tw-root--theme-dark .navigation-link
{
  color:#f9e8ff  !important;
}

.tw-root--theme-dark .navigation-link:hover
{
  color:#f9e8ff!important;
}

/*Dark Scrollbar*/
.tw-root--theme-dark .scrollable-area .simplebar-track .simplebar-scrollbar
{
  background:#f9e8ff  !important;
}

/*Dark Chat room base*/
.tw-root--theme-dark .chat-room
{
  background: #0c0026 !important;
}

/*Dark BTTV Split chat background*/
.tw-root--theme-dark .chat-line__message.bttv-split-chat-alt-bg, .tw-root--theme-dark .vod-message.bttv-split-chat-alt-bg
{
  background-color: #18004d !important;
}

/*Dark Emote pop-up window channel header*/
.tw-root--theme-dark .emote-grid-section__header-title
{
  background-color: #200066 !important;
}

/*Dark Emote pop-up window channel header focused*/
.tw-root--theme-dark .emote-grid-section__balloon-title
{
  background-color: #3f009a !important;
}

/*Dark Left sidebar channels and friends, on hover*/
.tw-root--theme-dark .side-nav-card__link:hover
{
  background-color: #200066 !important;
}

/*Dark Hypetrain Train*/
.hype-train-approaching-view__checkboxes-dark
{
  background-color: #7a00ff !important;
  color: #f9e8ff  !important;
}

/*Dark Logged in Left sidebar background*/
.tw-root--theme-dark .side-nav__overlay-wrapper
{
  background-color: #0c0026 !important;
}

/*Dark Whisper header*/
.tw-root--theme-dark .thread-header__title-bar-container
{
  background: #260077 !important;
  box-shadow: none !important;
}

/*Dark Whispers drowndown window channels on hover*/
.tw-root--theme-dark .whispers-list-item--selected, .tw-root--theme-dark .whispers-list-item:hover
{
  background-color: #090017 !important;
}

/*Dark Whispers drowndown window channels Slide delete button on hover*/
.tw-root--theme-dark .whispers-list-item--selected .whispers-list-item__archive, .tw-root--theme-dark .whispers-list-item--selected .whispers-list-item__muted-icon, .tw-root--theme-dark .whispers-list-item--selected .whispers-list-item__unread-icon, .tw-root--theme-dark .whispers-list-item:hover .whispers-list-item__archive, .tw-root--theme-dark .whispers-list-item:hover .whispers-list-item__muted-icon, .tw-root--theme-dark .whispers-list-item:hover .whispers-list-item__unread-icon
{
  background-color: #0d0020 !important;
}

.tw-root--theme-dark .whispers-list-item__archive
{
  background-color: #0d0020 !important;
}

/*Dark Trashbin icon background inside the previous code*/
.tw-root--theme-dark .whispers-list-item--selected .whispers-list-item__archive-button, .tw-root--theme-dark .whispers-list-item:hover .whispers-list-item__archive-button
{
  background-color: #090017 !important;
}

/*Dark Subscribe pop-up window text*/
.tw-root--theme-dark .modal__content
{
  color: #f9e8ff !important;
}

/*Dark 'Users in chat' panel*/
.tw-root--theme-dark .chat-viewers__pane
{
  background: #0c0026 !important;
  color: #f9e8ff  !important;
}

/*Dark 'Users in chat' channel names*/
.tw-root--theme-dark .chat-viewers-list__button
{
  color:  #f9e8ff !important;
}

/*Dark Browse Game page banner*/
.tw-root--theme-dark .directory-header-new__banner-cover
{
  background: linear-gradient(
          6deg,#0e026a38,rgb(37 4 114)),linear-gradient(
          73deg,#0e0e10,rgb(0 134 212));
  content: "";
}

/*---------------------------------------------------------------------------*/
/*Light Mode*/
.tw-root--theme-light
{
  /*Top Header/Nav-bar*/
  --color-background-base: #0c0026 !important;
  /*Left-Expandable-sidebar*/
  --color-background-alt: #0c0026 !important;
  /*Base Text (Covers things such as: 'Carousel Nav-Arrow colow, Log in text, Magnifyer icon,
  'More' button, Prime Loot icon, 'Expand' icon on left side-bar, Top-right profile icon,
  Dropdown-menu where 'Language', 'Dark Theme',   'Cookie Preferences', and 'Log In' is located*/
  --color-text-base: #f9e8ff !important;
  /*Alternative text (Covers things such as: Streaming Titles, Left-Sidebar channel names and viewer count*/
  --color-text-alt:  #f9e8ff  !important;
  /*Second Alternative text (Covers things such as: Channel Names and Current game on Channel cards found on the mainpage, Current games on Left-sidebar, Viewer count on Streaming Category Cards on mainpage*/
  --color-text-alt-2: #f9e8ff  !important;
  /*Primary Button text Covers for example: 'Sign Up' button*/
  --color-text-button-primary:  #f9e8ff  !important;
  /*Button text color covers for exambple 'Show more [Down Arrow]' on the frontpage'*/
  --color-text-button-text:  #f9e8ff !important;
  /*Input Window Background*/
  --color-background-input: #120355 !important;
  /*Input Window Background on-focus*/
  --color-background-input-focus: #17046b !important;
  /*Color Background Overlay Covers things such as: Viewer count background color on stream cards on front-page, and Carousel shadow on previous and up-next channel*/
  --color-background-overlay: #2c006699 !important;
  /*Primary Button background Covers things such as: 'Sign Up'*/
  --color-background-button-primary-default: #7a00ff !important;
  --color-background-button-primary-hover: #6800d9 !important;
  /*On hover*/
  /*Button background Covers things such as: 'Profile', 'More', 'Prime Loot', 'Show More [Down Arrow]', Navigation-arrows for carousel*/
  --color-background-button-text-default: #7a00ff00 !important;
  --color-background-button-text-hover: #6200d92b !important;
  /*On hover*/
  --color-background-button-text-active: #6200d945 !important;
  /*On click*/
  /*Accent Background covers things such as: 'Join the Twitch Community! bottom banner' if logged out, and 'Games', 'IRL', 'MUSIC', 'Esports' Cards on frontpage*/
  --color-background-accent: #7a00ff !important;
  --color-background-accent-alt: #6300f9 !important;
  --color-background-accent-alt-2: #470f9b !important;
  /*Button overlay on player*/
  --color-text-button-overlay:  #f9e8ff  !important;
  --color-text-button-overlay-hover:  #f9e8ff !important;
  /*On hover*/
  --color-text-button-overlay-focus:  #f9e8ff  !important;
  --color-text-button-overlay-active:  #f9e8ff !important;
  /*On click*/
  /*Overlay text covers things such as: 'Games', 'IRL', 'Music', 'Esports', Play button in the middle of the player, Viewer count on stream cards, 'LIVE' text*/
  --color-text-overlay:  #f9e8ff  !important;
  /*LIVE background*/
  --color-fill-live: #7a00ff !important;
  /*Link text covers things such as Channel name and current game on Carousel channel card*/
  --color-text-link: #a200ff !important;
  --color-text-link-hover: #70f !important;
  /*On hover*/
  --color-text-link-active: #4b00a0 !important;
  /*On click*/
  --color-text-link-focus: #f9e8ff  !important;
  --color-text-link-visited: #f9e8ff  !important;
  /*Button overlay background covers things such as 'Sign Up' button ontop of the 'Join the twitch community!' banner*/
  --color-background-button-overlay-primary-default:  #f9e8ff;
  --color-background-button-overlay-primary-hover:  #f9e8ff;
  --color-background-button-overlay-primary-active:  #f9e8ff;
  --color-text-button-overlay-primary: #90f !important;
  /*Text for previous button code*/
  /*Input window's border (Does the exact thing as in '.tw-input' on line 44*/
  --color-border-input: #8c00f9 !important;
  --color-opac-w-4: #8c00f9 !important;
  --color-border-input-focus: #982bea !important;
  /*Input text*/
  --color-text-input:  #f9e8ff !important;
  /*Input text placeholder*/
  --color-text-input-placeholder: #f9e8ff  !important;
  /*Toggle button border when checked*/
  --color-border-toggle-checked:  #f9e8ff  !important;
  /*Toggle button background when checked*/
  --color-background-toggle-checked: #3600c4 !important;
  /*Toggle button border when unchecked*/
  --color-border-toggle:  #f9e8ff  !important;
  --color-opac-b-10:  #f9e8ff  !important;
  /*Toggle button background when unchecked*/
  --color-background-toggle: #3600c4 !important;
  /*Toggle button dot when unchecked*/
  --color-background-toggle-handle:  #f9e8ff !important;
  /*Body Background (Visit a channel to see what it does)*/
  --color-background-body: #0e0121 !important;
  /*Base border color covers things such as border around chat and leaderboard above chat*/
  --color-border-base: #02fffe2b !important;
  /*Emote pop-up window right sidebar*/
  --color-background-alt-2: #0c0026 !important;
  /*Live viewercount text */
  --color-text-live: #f08 !important;
  --color-text-accessible-red: #f08 !important;
  /*'Friends' and 'Followed' buttons for friends and channels*/
  --color-background-button-status:  #f9e8ff  !important;
  /*Brand icon outer (line 84 for inner colors)*/
  --color-fill-brand: #f9e8ff  !important;
}

/*Light Crousel Channel-Info Card*/
.tw-root--theme-light .carousel-metadata {
  background: #0c0026 !important;
}

/*Fadeout ontop of Channel-Info Card*/
.tw-root--theme-light .carousel-metadata--fadeout {
  background: none !important;
}

/*Light Carousel Navigation Arrows*/
.tw-root--theme-light .carousel-player-nav-arrow__container {
  background-color: #6f00d9 !important;
}

/*Light Navigation links Covers for example: 'Browse' located on top header*/
.tw-root--theme-light .navigation-link {
  color:#f9e8ff !important;
}     .tw-root--theme-light .navigation-link:hover {
        color:#f9e8ff  !important;
      }

/*Light Scrollbar*/
.tw-root--theme-light .scrollable-area .simplebar-track .simplebar-scrollbar {
  background:  #f9e8ff  !important;
}

/*Light Chat room base*/
.tw-root--theme-light .chat-room {
  background: #0c0026 !important;
}

/*Light BTTV Split chat background*/
.tw-root--theme-light .chat-line__message.bttv-split-chat-alt-bg, .tw-root--theme-light .vod-message.bttv-split-chat-alt-bg {
  background-color: #18004d !important;
}

/*Light Emote pop-up window channel header*/
.tw-root--theme-light .emote-grid-section__header-title {
  background-color: #200066 !important;
}

/*Light Emote pop-up window channel header focused*/
.tw-root--theme-light .emote-grid-section__balloon-title {
  background-color: #3f009a;
}

/*Light Left sidebar channels and friends, on hover*/
.tw-root--theme-light .side-nav-card__link:hover {
  background-color: #200066 !important;
}

/*Light Hypetrain Train*/
.hype-train-approaching-view__checkboxes-light {
  background-color: #7a00ff !important;
  color: #f9e8ff !important;
}

/*LightLogged in Left sidebar background*/
.tw-root--theme-light .side-nav__overlay-wrapper {
  background-color: #0c0026 !important;
}

/*Light Whisper header*/
.tw-root--theme-light .thread-header__title-bar-container {
  background: #260077 !important;
  box-shadow: none !important;
}


/*Light Whispers drowndown window channels on hover*/
.tw-root--theme-light .whispers-list-item--selected, .tw-root--theme-light .whispers-list-item:hover {
  background-color: #090017 !important;
}

/*Light Whispers drowndown window channels Slide delete button on hover*/
.tw-root--theme-light .whispers-list-item--selected .whispers-list-item__archive, .tw-root--theme-light .whispers-list-item--selected .whispers-list-item__muted-icon, .tw-root--theme-light .whispers-list-item--selected .whispers-list-item__unread-icon, .tw-root--theme-light .whispers-list-item:hover .whispers-list-item__archive, .tw-root--theme-light .whispers-list-item:hover .whispers-list-item__muted-icon, .tw-root--theme-light .whispers-list-item:hover .whispers-list-item__unread-icon {
  background-color: #0d0020 !important;
} .tw-root--theme-light .whispers-list-item__archive {
    background-color: #0d0020 !important;
  }

/*Light Trashbin icon background inside the previous code*/
.tw-root--theme-light .whispers-list-item--selected .whispers-list-item__archive-button, .tw-root--theme-light .whispers-list-item:hover .whispers-list-item__archive-button {
  background-color: #090017 !important;
}

/*Light Subscribe pop-up window text*/
.tw-root--theme-light .modal__content {
  color:  #f9e8ff  !important;
}

/*light 'Users in chat' panel*/
.tw-root--theme-light .chat-viewers__pane {
  background: #0c0026 !important;
  color:  #f9e8ff  !important;
}

/*Light 'Users in chat' channel names*/
.tw-root--theme-light .chat-viewers-list__button {
  color:  #f9e8ff !important;
}


/*Light Browse Game page banner*/
.tw-root--theme-light .directory-header-new__banner-cover {
  background: linear-gradient(
          6deg,#0e026a38,rgb(37 4 114)),linear-gradient(
          73deg,#0e0e10,rgb(0 134 212));
  content: "";
}


