[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/yt-dlp.desktop]
row=1
col=13

[/home/aruncs/Desktop/brave-agimnkijcaahngcdmfeangaknmldooml-Default.desktop]
row=3
col=0

[/home/aruncs/Desktop/ncmpcpp.desktop]
row=0
col=13

[/home/aruncs/Desktop/brave-hnpfjngllnobngcgfapefoaidbinmjnm-Default.desktop]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/aruncs]
row=2
col=0

