[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/thorium-lgnggepjiihbfdbedefdhcffnmhcahbm-Default.desktop]
row=3
col=1

[/home/aruncs/Desktop/Python_Snake_Game]
row=1
col=1

[/home/aruncs/Desktop/Projects]
row=2
col=1

[/home/aruncs/Desktop/thorium-kihcfgelmnhagcadjfmnpkifihfmgail-Default.desktop]
row=4
col=1

[fa96ec72-f73e-43e4-9f6b-1f7d359df9ff]
row=8
col=0

[iPhone]
row=6
col=0

[546A74806A7460A2]
row=4
col=0

[fb2ff771-2f9e-4d94-b77a-ed75b54608df]
row=0
col=1

[277e2860-a297-4b5d-be5f-08c099310af2]
row=0
col=17

[0a77533a-1bd8-48d9-be95-00012f4aa8ad]
row=7
col=0

[f375e39c-bfae-4610-b09e-b6d2baa45408]
row=3
col=0

[d3409aad-1047-4146-8fd4-ca13893c1a89]
row=1
col=17

[00008020-00061D290CE1002E]
row=5
col=0

[Trash]
row=2
col=0

[/]
row=1
col=0

[/home/aruncs]
row=0
col=0

