[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/thorium-iginaipjemjolmflmoddbenehhpmmanf-Default.desktop]
row=4
col=1

[/home/aruncs/Desktop/thorium-cinhimbnkkaeohfgghhklpknlkffjgod-Default.desktop]
row=3
col=1

[bae3822f-2087-40a3-9eca-b5be79567087]
row=4
col=0

[d3409aad-1047-4146-8fd4-ca13893c1a89]
row=1
col=0

[277e2860-a297-4b5d-be5f-08c099310af2]
row=0
col=0

[f375e39c-bfae-4610-b09e-b6d2baa45408]
row=2
col=0

[2ed26ab5-9b86-452f-a499-fec3722d4442]
row=3
col=0

[546A74806A7460A2]
row=5
col=0

[Trash]
row=0
col=1

[/]
row=1
col=1

[/home/aruncs]
row=2
col=1

