[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/LTspice XVII.desktop]
row=0
col=2

[/home/aruncs/Desktop/YTMUSIC.desktop]
row=2
col=2

[/home/aruncs/Desktop/LTspice XVII.lnk]
row=1
col=2

[baa1c645-cba7-4f26-a60c-a0d6dc847f40]
row=5
col=0

[7DF3-B664]
row=2
col=0

[5751d74f-ca7c-4a0f-be9d-c4e693aa8a81]
row=2
col=1

[dd734761-327e-4ffb-a030-eeff0ea6c55d]
row=0
col=0

[34DD-036F]
row=3
col=0

[C4E29307E292FCBC]
row=1
col=1

[0f7d65f3-4215-4cb0-af2f-39beec18b0d5]
row=1
col=0

[f375e39c-bfae-4610-b09e-b6d2baa45408]
row=4
col=0

[fc8fb2ef-9c51-4544-bba4-24bd820c3c37]
row=0
col=1

[Trash]
row=3
col=1

[/]
row=4
col=1

[/home/aruncs]
row=5
col=1

