[Desktop Entry]
Version=1.0
Name=Thorium Browser
GenericName=Web Browser
Comment=Access the Internet
Exec=/usr/bin/thorium-browser %U
StartupWMClass=thorium
Keywords=browser
StartupNotify=true
Terminal=false
X-MultipleArgs=True
Icon=thorium-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Actions=new-window;new-private-window;temp-profile;content-shell;safe-mode;dark-mode;
X-XFCE-Source=file:///usr/share/applications/thorium-browser.desktop

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/thorium-browser

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/usr/bin/thorium-browser --incognito

[Desktop Action temp-profile]
Name=Open New Window with a temporary profile
Exec=/usr/bin/thorium-browser --temp-profile

[Desktop Action content-shell]
Name=Open Thorium Shell
Exec=/usr/bin/thorium-shell %U

[Desktop Action safe-mode]
Name=Open in Safe Mode
Exec=/usr/bin/thorium-browser --no-experiments %U

[Desktop Action dark-mode]
Name=Open in Dark Mode
Exec=/usr/bin/thorium-browser --force-dark-mode %U
